{{ 'section-main-product.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign product = section.settings.product
  assign media_layout = section.settings.media_layout
  assign media_size = section.settings.media_size
  assign enable_sticky_info = section.settings.enable_sticky_info
  
  assign empty_state = false
  if product == blank
    assign empty_state = true
  endif
-%}

<script src="{{ 'product-info.js' | asset_url }}" defer="defer"></script>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .featured-product__wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  @media screen and (min-width: 990px) {
    .featured-product__wrapper {
      flex-direction: row;
      gap: 5rem;
    }
    .featured-product__media { width: 60%; }
    .featured-product__media.media--small { width: 50%; }
    .featured-product__media.media--large { width: 65%; }
    
    .featured-product__info { 
      width: 40%; 
      flex-grow: 1; 
    }
    
    .featured-product__info.info--sticky {
      position: sticky;
      top: 3rem;
      height: fit-content;
      z-index: 2;
    }
  }
  
  .product__text { font-size: 1.4rem; line-height: 1.5; color: rgba(var(--color-foreground), 0.75); }
  .product__title h2 { margin: 0; font-size: calc(var(--font-heading-scale) * 2.4rem); }
  .product__title a { text-decoration: none; color: inherit; }
  .product__title a:hover { text-decoration: underline; }
  
  .product__view-details {
    margin-top: 2.5rem;
    display: inline-flex;
    align-items: center;
    text-underline-offset: 0.3rem;
    font-weight: 500;
  }
  
  .product__accordion summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 1.5rem 0;
    list-style: none;
  }
  .product__accordion summary::-webkit-details-marker { display: none; }
  .summary__title { display: flex; align-items: center; gap: 1rem; }
  .product__accordion { border-top: 1px solid rgba(var(--color-foreground), 0.1); }
  .product__accordion:last-child { border-bottom: 1px solid rgba(var(--color-foreground), 0.1); }
{%- endstyle -%}

{% render 'divider', show_divider: section.settings.show_section_divider, divider_width: section.settings.divider_width %}

<div class="section-{{ section.id }}-padding color-{{ section.settings.color_scheme }} gradient">
  <div class="page-width">
    <div class="featured-product__wrapper product">
      
      <div class="featured-product__media media--{{ media_size }}">
        {%- unless empty_state -%}
          {% render 'product-media-gallery', 
            product: product, 
            variant_images: section.settings.hide_variants, 
            limit: section.settings.gallery_limit, 
            layout: media_layout 
          %}
        {%- else -%}
          <div class="media-wrapper placeholder" style="padding-bottom: 100%; position: relative; background: rgba(0,0,0,0.05);">
            {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
          </div>
        {%- endunless -%}
      </div>

      <div class="featured-product__info {% if enable_sticky_info %}info--sticky{% endif %}">
        <product-info id="ProductInfo-{{ section.id }}" class="product__info-container" data-section="{{ section.id }}" data-url="{{ product.url }}">
          
          {%- assign product_form_id = 'product-form-' | append: section.id -%}

          {%- for block in section.blocks -%}
            {%- case block.type -%}
              
              {%- when 'text' -%}
                <p class="product__text {{ block.settings.text_style }}" {{ block.shopify_attributes }}>
                  {{ block.settings.text }}
                </p>

              {%- when 'title' -%}
                <div class="product__title" {{ block.shopify_attributes }}>
                  <h2 class="{{ block.settings.heading_size }}">
                    {%- unless empty_state -%}
                      <a href="{{ product.url }}">{{ product.title | escape }}</a>
                    {%- else -%}
                      {{ 'onboarding.product_title' | t }}
                    {%- endunless -%}
                  </h2>
                </div>

              {%- when 'price' -%}
                <div class="product__price" id="price-{{ section.id }}" {{ block.shopify_attributes }}>
                  {%- unless empty_state -%}
                    {% render 'price', product: product, use_variant: true, show_badges: true %}
                  {%- else -%}
                    {% render 'price', placeholder: true %}
                  {%- endunless -%}
                </div>

              {%- when 'variant_picker' -%}
                {%- unless empty_state -%}
                  {% render 'product-variant-picker', 
                    product: product, 
                    block: block, 
                    product_form_id: product_form_id 
                  %}
                {%- endunless -%}

              {%- when 'buy_buttons' -%}
                {%- unless empty_state -%}
                  {% render 'buy-buttons', 
                    product: product, 
                    product_form_id: product_form_id, 
                    section_id: section.id, 
                    show_pickup_availability: false 
                  %}
                {%- else -%}
                  <div class="product-form">
                    <div class="product-form__buttons">
                      <button type="submit" name="add" class="product-form__submit button button--full-width button--primary" disabled>
                        Sold Out
                      </button>
                    </div>
                  </div>
                {%- endunless -%}

              {%- when 'description' -%}
                {%- if empty_state == false and product.description != blank -%}
                  <div class="product__description rte" {{ block.shopify_attributes }}>
                    {{ product.description | strip_html | truncatewords: 30 }}
                  </div>
                {%- endif -%}

              {%- when 'share' -%}
                {%- unless empty_state -%}
                  <div class="share-button" {{ block.shopify_attributes }} style="margin-top: 1.5rem;">
                    <details id="Share-{{ section.id }}">
                      <summary class="share-button__button btn btn--secondary btn--small">
                        {% render 'icon-share' %} Share
                      </summary>
                      <div class="share-button__fallback motion-reduce" style="margin-top: 10px;">
                        <input type="text" class="field__input" id="url-{{ section.id }}" value="{{ product.url | prepend: request.origin }}" readonly onclick="this.select();">
                      </div>
                    </details>
                  </div>
                {%- endunless -%}
                
              {%- when 'collapsible_tab' -%}
                <div class="product__accordion accordion" {{ block.shopify_attributes }}>
                  <details id="Details-{{ block.id }}-{{ section.id }}">
                    <summary>
                      <div class="summary__title">
                        {% if block.settings.icon == 'check' %}
                          {% render 'icon-check' %}
                        {% else %}
                          {% render 'icon-caret' %} 
                        {% endif %}
                        <h2 class="h4 accordion__title inline-richtext">{{ block.settings.heading | default: block.settings.page.title }}</h2>
                      </div>
                      {% render 'icon-caret' %}
                    </summary>
                    <div class="accordion__content rte" id="ProductAccordion-{{ block.id }}-{{ section.id }}">
                      {{ block.settings.content }}
                      {{ block.settings.page.content }}
                    </div>
                  </details>
                </div>

            {%- endcase -%}
          {%- endfor -%}

          {%- unless empty_state -%}
            <a href="{{ product.url }}" class="link product__view-details animate-arrow">
              View full details {% render 'icon-arrow' %}
            </a>
          {%- endunless -%}

        </product-info>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Featured Product",
  "tag": "section",
  "class": "section section-featured-product",
  "disabled_on": {
    "groups": ["header", "footer", "custom.overlay"]
  },
  "blocks": [
    { "type": "@app" },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        { "type": "text", "id": "text", "default": "Text block", "label": "Text" },
        { "type": "select", "id": "text_style", "options": [{"value": "body","label": "Body"},{"value": "subtitle","label": "Subtitle"},{"value": "uppercase","label": "Uppercase"}], "default": "body", "label": "Style" }
      ]
    },
    {
      "type": "title",
      "name": "Title",
      "limit": 1,
      "settings": [
        { "type": "select", "id": "heading_size", "label": "Size", "default": "h1", "options": [{"value": "h2","label": "Small"},{"value": "h1","label": "Medium"},{"value": "hd2","label": "Large"}] }
      ]
    },
    { "type": "price", "name": "Price", "limit": 1 },
    {
      "type": "variant_picker",
      "name": "Variant Picker",
      "limit": 1,
      "settings": [
        { "type": "select", "id": "picker_type", "options": [{"value": "dropdown","label": "Dropdown"},{"value": "button","label": "Buttons"}], "default": "button", "label": "Type" }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "Buy Buttons",
      "limit": 1,
      "settings": [
        { "type": "checkbox", "id": "show_dynamic_checkout", "default": true, "label": "Show dynamic checkout" }
      ]
    },
    { "type": "description", "name": "Description", "limit": 1 },
    { "type": "share", "name": "Share", "limit": 1 },
    {
      "type": "collapsible_tab",
      "name": "Collapsible Row",
      "settings": [
        { "type": "text", "id": "heading", "default": "Shipping", "label": "Heading" },
        { "type": "richtext", "id": "content", "label": "Row Content" },
        { "type": "select", "id": "icon", "label": "Icon (Optional)", "options": [{"value": "none","label": "None"},{"value": "check","label": "Check Mark"}], "default": "none" }
      ]
    }
  ],
  "settings": [
    { "type": "product", "id": "product", "label": "Product" },
    { "type": "color_scheme", "id": "color_scheme", "label": "Color Scheme", "default": "scheme-1" },
    {
      "type": "select",
      "id": "media_layout",
      "options": [{"value": "stacked","label": "Stacked"},{"value": "columns","label": "Two columns"},{"value": "thumbnail_slider","label": "Thumbnail slider"}],
      "default": "thumbnail_slider",
      "label": "Desktop Layout"
    },
    {
      "type": "select",
      "id": "media_size",
      "options": [{"value": "small","label": "Small"},{"value": "medium","label": "Medium"},{"value": "large","label": "Large"}],
      "default": "large",
      "label": "Media Width"
    },
    { "type": "checkbox", "id": "enable_sticky_info", "default": true, "label": "Enable Sticky Content" },
    { "type": "range", "id": "padding_top", "min": 0, "max": 100, "step": 4, "unit": "px", "label": "Top Padding", "default": 36 },
    { "type": "range", "id": "padding_bottom", "min": 0, "max": 100, "step": 4, "unit": "px", "label": "Bottom Padding", "default": 36 },
    { "type": "checkbox", "id": "show_section_divider", "label": "Show Divider", "default": false },
    { "type": "select", "id": "divider_width", "options": [{"value": "fixed","label": "Fixed"},{"value": "full","label": "Full"}], "default": "fixed", "label": "Divider Width" }
  ],
  "presets": [
    {
      "name": "Featured Product (Auragems)",
      "blocks": [
        { "type": "title" },
        { "type": "price" },
        { "type": "variant_picker" },
        { "type": "buy_buttons" },
        { "type": "share" }
      ]
    }
  ]
}
{% endschema %}