
{% liquid
  
    assign locales = shop.metafields.foxify.locales.value
    assign current_locale = request.locale.iso_code
    assign primary_locale = current_locale
    for locale in shop.published_locales
    if locale.primary
        assign primary_locale = locale.iso_code
        break
    endif
    endfor
    assign translation = locales[current_locale] | default: locales[primary_locale]

    assign theme_settings = shop.metafields.foxify.theme_settings.value
    assign productCard = theme_settings.productCard
  
  
      assign foxifyCustomCss = shop.metafields.foxify['69367a7b65ef7c14cfdf693f'].value.customCss
      assign foxifyCustomJs = shop.metafields.foxify['69367a7b65ef7c14cfdf693f'].value.customJs
    
%}

      <script>
        window.Foxify = window.Foxify || {}
        Foxify.ThemeStyles = {
          product: "https:{{ 'foxify-product.css' | asset_url }}",
          swiper: "https:{{ 'foxify-swiper.css' | asset_url }}",
        }

        Foxify.ThemeScripts = {
          productModel: "https:{{ 'foxify-product-model.js' | asset_url }}",
          productMedia: "https:{{ 'foxify-media-gallery.js' | asset_url }}",
          variantPicker: "https:{{ 'foxify-variant-picker.js' | asset_url }}"
        }

        Foxify.pageId = '1765177980A3dGc';
        Foxify.default = false;
      </script>
    
<div class="x-app x-main">
<link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" id="Jost" data-foxify-editor="font-components" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" id="DM Sans" data-foxify-editor="font-components" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=ABeeZee:ital,wght@0,400;1,400&display=swap" id="ABeeZee" data-foxify-editor="font-components" rel="stylesheet">
<style data-foxify-editor="foxify-custom-fonts">
    @font-face {
      font-family: Butler_Medium;
      src: url('https://cdn.shopify.com/s/files/1/0667/8442/8285/files/Butler_Medium_af5c65eb-f49a-4e90-ac04-7eb4c4998559.otf?v=1720430001');
    }
    </style>
{{ 'foxify-1765177980A3dGc.css' | asset_url | stylesheet_tag }}
<style data-foxify-custom-code-page="css">{{ foxifyCustomCss }}</style>
<div id="x-ctpgpfsd" class="x-section x-ctpgpfsd"><div class="x-container-full x-layout-grid">{% assign product_x-ueqdbuyk = section.settings['product_x-ueqdbuyk'] %}
          {% unless section.settings['product_x-ueqdbuyk'] %}
            {% assign product_x-ueqdbuyk = all_products['healing-necklace-natural-stone-titanium-chain'] %}
          {% endunless %}
        <style>.x-main .x-ueqdbuyk .x-layout-auto.x-stack.x-16ab6b07.x-element {
  justify-self:center !important
}</style>{% if product_x-ueqdbuyk != blank %}{{ 'foxify-product.gen2.css' | asset_url | stylesheet_tag }}<div id="x-ueqdbuyk" class="x-layout-auto x-main-product x-ueqdbuyk x-element product-details--custom">{%- form 'product', product_x-ueqdbuyk, id: 'product-form-x-ueqdbuyk', class: 'x-main-product__form x-product-form', novalidate: 'novalidate', data-type: 'add-to-cart-form', data-product-id: product_x-ueqdbuyk.id -%}<input type="hidden" name="id" value="{{ product_x-ueqdbuyk.selected_or_first_available_variant.id }}"><div id="x-0ubi6ax9" class="x-layout-none x-grid x-0ubi6ax9 x-element sm:x-grid-1 md:x-grid-2 x-grid-2" style="--x-column-gap: 0px; --x-md-column-gap: 0px; --x-sm-column-gap: 16px; --x-row-gap: 8px; --x-md-row-gap: 24px; --x-sm-row-gap: 20px;"><div id="x-dciowqg1" class="x-layout-auto x-cell x-dciowqg1 x-element"><style>.x-main .x-1f7cfb4q #x-dciowqg1 {
  padding:0 !important
}</style><div id="x-1f7cfb4q" class="x-layout-none x-product-media x-1f7cfb4q x-element x-animation-pageload x-animation-pageload:xFadeIn">{% if product_x-ueqdbuyk.media.size > 0 %}<script src="{{ 'foxify-media-gallery.gen2.js' | asset_url }}" defer=""></script><x-media-gallery id="Media-Gallery-{{ section.id }}" class="x-product-media__gallery x-product-media__gallery--carousel" data-layout="carousel"><div class="x-product-media__list x-product-media--carousel"><x-carousel-component class="x-product-media__carousel x-swiper" data-swiper-options="{&quot;slidesPerView&quot;:1,&quot;autoplay&quot;:false,&quot;navigation&quot;:true,&quot;pagination&quot;:true,&quot;paginationType&quot;:&quot;fraction&quot;,&quot;autoHeight&quot;:true,&quot;enabled&quot;:true,&quot;observer&quot;:true,&quot;breakpoints&quot;:{&quot;768&quot;:{&quot;enabled&quot;:true}},&quot;effect&quot;:&quot;fade&quot;,&quot;fadeEffect&quot;:{&quot;crossFade&quot;:true}}"><div class="x-product-media__carousel-main"><div class="x-main-swiper x-swiper-container"><div class="x-swiper-wrapper">{%- for media in product_x-ueqdbuyk.media -%}<div class="x-swiper-slide{% if media.media_type != 'image' %} swiper-no-swiping{% endif %}" data-media-type="{{ media.media_type }}" data-media-id="{{ media.id }}" data-media-index="{{ forloop.index0 }}"><div class="x-product-media__preview x-product-media--{{ media.media_type }}"><x-image class="x-image" style="--x-aspect-ratio: {{ media.preview_image.aspect_ratio | default: 1 }};">{{ media.preview_image | image_url: width: 1946 | image_tag:
        loading: lazy,
        sizes: '(min-width: 1200px) 715px, (min-width: 990px) calc(65.0vw - 10rem), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw / 1 - 4rem)',
        widths: '246, 493, 600, 713, 823, 990, 1100, 1206, 1346, 1426, 1646, 1946',
        alt: media.preview_image.alt | escape
      }}</x-image>{%- if media.media_type != 'image' -%}<x-deferred-media class="x-deferred-media no-js-hidden" data-media-id="{{ media.id }}" style="--x-aspect-ratio: {{ media.preview_image.aspect_ratio | default: 1 }};"><button id="Deferred-Poster-Modal-{{ media.id }}" class="x-deferred-media__poster" type="button"><span class="x-deferred-media__poster-button motion-reduce">{%- if media.media_type == 'model' -%}<span class="x-visually-hidden">{{ translation.products.product.media.play_model }}</span><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation" class="x-icon-3d-model" fill="none" viewBox="0 0 18 21"><path d="M7.67998 20.629L1.28002 16.723C0.886205 16.4784 0.561675 16.1368 0.337572 15.731C0.113468 15.3251 -0.00274623 14.8686 -1.39464e-05 14.405V6.59497C-0.00238367 6.13167 0.113819 5.6755 0.33751 5.26978C0.561202 4.86405 0.884959 4.52227 1.278 4.27698L7.67796 0.377014C8.07524 0.131403 8.53292 0.000877102 8.99999 9.73346e-08C9.46678 -0.000129605 9.92446 0.129369 10.322 0.374024V0.374024L16.722 4.27399C17.1163 4.51985 17.4409 4.86287 17.6647 5.27014C17.8885 5.67742 18.0039 6.13529 18 6.59998V14.409C18.0026 14.8725 17.8864 15.3289 17.6625 15.7347C17.4386 16.1405 17.1145 16.4821 16.721 16.727L10.321 20.633C9.92264 20.8742 9.46565 21.0012 8.99999 21C8.53428 20.9998 8.07761 20.8714 7.67998 20.629V20.629ZM8.72398 2.078L2.32396 5.97803C2.22303 6.04453 2.14066 6.13551 2.08452 6.24255C2.02838 6.34959 2.00031 6.46919 2.00298 6.59003V14.4C2.00026 14.5205 2.02818 14.6396 2.08415 14.7463C2.14013 14.853 2.22233 14.9438 2.32298 15.01L7.99999 18.48V10.919C8.00113 10.5997 8.08851 10.2867 8.25292 10.0129C8.41732 9.73922 8.65267 9.51501 8.93401 9.36401L15.446 5.841L9.28001 2.08002C9.19614 2.02738 9.09901 1.99962 8.99999 2C8.90251 1.99972 8.8069 2.02674 8.72398 2.078V2.078Z" fill="currentColor"></path></svg>{%- else -%}<span class="x-visually-hidden">{{ translation.products.product.media.play_video }}</span><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon fill="currentColor" points="5 3 19 12 5 21 5 3"></polygon></svg>{%- endif -%}</span>{{media.preview_image | image_url: width: 1946 | image_tag:
            loading: lazy,
            sizes: '(min-width: 1200px) 715px, (min-width: 990px) calc(65.0vw - 10rem), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw / 1 - 4rem)',
            widths: '246, 493, 600, 713, 823, 990, 1100, 1206, 1346, 1426, 1646, 1946',
            alt: media.preview_image.alt | escape
            }}</button><template>
          {%- liquid
            case media.media_type
              when 'external_video'
                assign video_class = 'js-' | append: media.host
                if media.host == 'youtube'
                  echo media | external_video_url: autoplay: true, loop: loop, playlist: media.external_id | external_video_tag: class: video_class, loading: 'lazy'
                else
                    echo media | external_video_url: autoplay: true, loop: loop | external_video_tag: class: video_class, loading: 'lazy'
                endif
              when 'video'
                echo media | media_tag: image_size: '2048x', autoplay: true, loop: loop, controls: true, preload: 'none'
              when 'model'
                echo media | media_tag: image_size: '2048x', toggleable: true
            endcase
          -%}
        </template></x-deferred-media>{%- endif -%}</div></div>{%- endfor -%}</div></div></div>{%- if product_x-ueqdbuyk.media.size > 1 -%}<div class="x-product-media__carousel-thumbs"><div class="x-nav-swiper x-swiper-container" data-swiper-options="{&quot;slidesPerView&quot;:5,&quot;autoplay&quot;:false,&quot;navigation&quot;:false,&quot;pagination&quot;:false,&quot;spaceBetween&quot;:10,&quot;enabled&quot;:true,&quot;breakpoints&quot;:{&quot;768&quot;:{&quot;enabled&quot;:true,&quot;spaceBetween&quot;:15}}}"><div class="x-swiper-wrapper x-items-center">{%- for media in product_x-ueqdbuyk.media -%}<div class="x-swiper-slide"><div class="x-product-media__thumb">{%- if media.media_type != 'image' -%}<span class="x-product-media__thumb-icon">{%- if media.media_type == 'model' -%}<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation" class="x-icon-3d-model" fill="none" viewBox="0 0 18 21"><path d="M7.67998 20.629L1.28002 16.723C0.886205 16.4784 0.561675 16.1368 0.337572 15.731C0.113468 15.3251 -0.00274623 14.8686 -1.39464e-05 14.405V6.59497C-0.00238367 6.13167 0.113819 5.6755 0.33751 5.26978C0.561202 4.86405 0.884959 4.52227 1.278 4.27698L7.67796 0.377014C8.07524 0.131403 8.53292 0.000877102 8.99999 9.73346e-08C9.46678 -0.000129605 9.92446 0.129369 10.322 0.374024V0.374024L16.722 4.27399C17.1163 4.51985 17.4409 4.86287 17.6647 5.27014C17.8885 5.67742 18.0039 6.13529 18 6.59998V14.409C18.0026 14.8725 17.8864 15.3289 17.6625 15.7347C17.4386 16.1405 17.1145 16.4821 16.721 16.727L10.321 20.633C9.92264 20.8742 9.46565 21.0012 8.99999 21C8.53428 20.9998 8.07761 20.8714 7.67998 20.629V20.629ZM8.72398 2.078L2.32396 5.97803C2.22303 6.04453 2.14066 6.13551 2.08452 6.24255C2.02838 6.34959 2.00031 6.46919 2.00298 6.59003V14.4C2.00026 14.5205 2.02818 14.6396 2.08415 14.7463C2.14013 14.853 2.22233 14.9438 2.32298 15.01L7.99999 18.48V10.919C8.00113 10.5997 8.08851 10.2867 8.25292 10.0129C8.41732 9.73922 8.65267 9.51501 8.93401 9.36401L15.446 5.841L9.28001 2.08002C9.19614 2.02738 9.09901 1.99962 8.99999 2C8.90251 1.99972 8.8069 2.02674 8.72398 2.078V2.078Z" fill="currentColor"></path></svg>{%- else -%}<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon fill="currentColor" points="5 3 19 12 5 21 5 3"></polygon></svg>{%- endif -%}</span>{%- endif -%}<x-image class="x-image" style="--x-aspect-ratio: 1;"><img srcset="{% if media.preview_image.width >= 59 %}{{ media.preview_image | image_url: width: 59 }} 59w,{% endif %}
                                  {% if media.preview_image.width >= 118 %}{{ media.preview_image | image_url: width: 118 }} 118w,{% endif %}
                                  {% if media.preview_image.width >= 84 %}{{ media.preview_image | image_url: width: 84 }} 84w,{% endif %}
                                  {% if media.preview_image.width >= 200 %}{{ media.preview_image | image_url: width: 200 }} 200w,{% endif %}
                                  {% if media.preview_image.width >= 130 %}{{ media.preview_image | image_url: width: 130 }} 130w,{% endif %}
                                  {% if media.preview_image.width >= 260 %}{{ media.preview_image | image_url: width: 260 }} 260w{% endif %}" src="{{ media | image_url: width: 84, height: 84 }}" sizes="(min-width: 1200px) calc((1200px - 19.5rem) / 12), (min-width: 750px) calc((100vw - 16.5rem) / 8), calc((100vw - 8rem) / 5)" alt="{{ media.alt | escape }}" height="200" width="200" loading="lazy"></x-image></div></div>{%- endfor -%}</div></div></div>{%- endif -%}</x-carousel-component></div></x-media-gallery>{% endif %}</div></div><div id="x-v8zsqov1" class="x-layout-auto x-cell x-v8zsqov1 x-element">{% if product_x-ueqdbuyk != blank %}<h2 id="x-ovwgk24p" class="x-layout-none x-product-title x-ovwgk24p x-element">{{ product_x-ueqdbuyk.title }}</h2>{% endif %}{% if product_x-ueqdbuyk != blank %}<div id="x-9vn0i3d0" class="x-layout-none x-product-price x-9vn0i3d0 x-element prd-detail-price--ct">{% assign show_code_x-9vn0i3d0 = theme_settings.showCurrencyCode %}{% render 'foxify-price', translation: translation, use_variant: true, product: product_x-ueqdbuyk, show_sale_badge: false, sale_badge_type: 'percentage', show_soldout_badge: true, show_currency_code: show_code_x-9vn0i3d0, ELEMENT_KEY: 'x', PREFIX_CLASS: 'x-' %}{{ form | payment_terms }}</div>{% endif %}<div id="x-tgbw7d21" class="x-layout-auto x-stack x-tgbw7d21 x-element btn-size-guide"><style>.x-main .x-lh0qswkd .btn-size-guide {
  display:none !important
}</style><a id="x-lh0qswkd" aria-haspopup="true" aria-label="Open dialog modal" href="#foxify-modal-x-lh0qswkd" class="x-layout-none x-button x-lh0qswkd x-element x-gs-link-button x-modal-opener"><span class="x-icon" style="--x-icon-size: 30px;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="f-icon-icons8 f-icon-bandcamp"><path d="M 16 3 C 8.832 3 3 8.832 3 16 C 3 23.168 8.832 29 16 29 C 23.168 29 29 23.168 29 16 C 29 8.832 23.168 3 16 3 z M 16 5 C 22.065 5 27 9.935 27 16 C 27 22.065 22.065 27 16 27 C 9.935 27 5 22.065 5 16 C 5 9.935 9.935 5 16 5 z M 13.382812 12 L 9.3828125 20 L 18.617188 20 L 22.617188 12 L 13.382812 12 z M 14.617188 14 L 19.382812 14 L 17.382812 18 L 12.617188 18 L 14.617188 14 z"></path></svg></span><span>
{{ 'sections.foxify-1765177980A3dGc.x-lh0qswkd-button_label_html' | t }}</span></a><x-modal-dialog id="foxify-modal-x-lh0qswkd" class="x-modal " style="--modal-width: 800px;"><div class="x-modal__content" role="dialog" aria-modal="true" tabindex="-1"><div class="x-modal__inner x-scroll-container"><button id="x-ModalClose-x-lh0qswkd" type="button" class="x-modal__close x-button x-button--plain x-button--icon" aria-label="Close"><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></button><div class="x-modal__content-text"><img src="https://cdn.shopify.com/s/files/1/0977/7027/5097/files/Gemini_Generated_Image_9ofwds9ofwds9ofw.png?v=1765261862" alt="" width="1894" height="1033"></div></div></div></x-modal-dialog></div><script src="{{ 'foxify-variant-picker.gen2.js' | asset_url }}" defer=""></script><div id="x-ga9mab5x" class="x-layout-none x-variant-picker x-ga9mab5x x-element prd-detail-variant--ct">{% render 'foxify-variant-picker', product: product_x-ueqdbuyk, variant_picker_type: 'buttons', show_selected_value: false, hide_unavailable_options: false, sectionId: 'x-ueqdbuyk', label_position: 'above', ELEMENT_KEY: 'x', PREFIX_CLASS: 'x-' %}</div><div id="x-be0h87fh" class="x-layout-auto x-stack x-be0h87fh x-element">{% assign product_x-l9ckcwi5 = product %}{% assign collection_x-l9ckcwi5 = collection %}<p id="x-l9ckcwi5" class="x-layout-none x-text x-l9ckcwi5 x-element x-rte">
{{ 'sections.foxify-1765177980A3dGc.x-l9ckcwi5-text_html' | t }}</p><div id="x-oyw7is94" class="x-layout-auto x-stack x-oyw7is94 x-element"><div id="x-cpw4a1k7" class="x-layout-none x-quantity-input x-cpw4a1k7 x-element"><x-quantity-input class="x-quantity" data-product-id="{{ product_x-ueqdbuyk.id }}"><button class="x-quantity__button" name="minus" type="button"><svg width="10" height="2" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M.917 1h8.166" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></button><input class="x-quantity__input x-form-control" type="number" name="quantity" id="Quantity-{{ product_x-ueqdbuyk.id }}" min="1" value="1"><button class="x-quantity__button" name="plus" type="button"><svg width="14" height="14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 2.917v8.166M2.917 7h8.166" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></button></x-quantity-input></div>{%- capture form_id_x_gy7napgl_znjd -%}product-form-x-ueqdbuyk{%- endcapture -%}
  {%- assign available_x_gy7napgl_znjd = product_x-ueqdbuyk.selected_or_first_available_variant.available -%}{%- capture button_label_x_gy7napgl_znjd -%}
    {% if available_x_gy7napgl_znjd == false %}
      {{ translation.products.product.sold_out }}
    {% else %}
      
{{ 'sections.foxify-1765177980A3dGc.x-gy7napgl-button_label_html' | t }}
    {% endif %}
  {%- endcapture -%}<x-buy-button
          class="x-product-buy-button x-gy7napgl x-element x-button"
          id="x-gy7napgl"
          data-form-id="{{ form_id_x_gy7napgl_znjd | escape }}"
          name="add"
          type="submit"
          role="button"
          data-notification-type="toast"
          data-atc-text="
{{ 'sections.foxify-1765177980A3dGc.x-gy7napgl-button_label_html' | t }}"
          {% unless available_x_gy7napgl_znjd %}disabled="true"{% endunless %}
          
          ><span class="x-btn__label">{{- button_label_x_gy7napgl_znjd -}}</span><svg width="16" height="16" aria-hidden="true" focusable="false" role="presentation" class="x-spinner-icon x-svg-icon" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle></svg></x-buy-button><div class="x-product-form__messages x-w-full" role="alert"></div><div id="x-ld79u7im" class="x-layout-none x-dynamic-buy-buttons x-ld79u7im x-element">{{ form | payment_button }}</div><div id="x-gqrifaek" class="x-layout-none x-custom-code x-gqrifaek x-element">{% assign f_product_card=product_x-ueqdbuyk %}{% assign dynamic_percent = product.metafields.custom.discount_percent.value | default: 0 %}
{% assign dynamic_code = product.metafields.custom.discount_code.value %}
{% if dynamic_percent > 0 %}
  {% assign enable_discount_logic = "true" %}
{% else %}
  {% assign enable_discount_logic = "false" %}
{% endif %}

<div id="fbt-config" data-enable-discount="{{ enable_discount_logic }}" data-discount-percent="{{ dynamic_percent }}" data-discount-code="{{ dynamic_code }}" data-currency-symbol="{{ cart.currency.symbol }}" data-sync-quantity="false"> </div>

<div id="fbt-handles" style="display:none;">
  <input type="hidden" class="fbt-handle-input" value="{{ product.handle }}">
  {% assign fbt_list = product.metafields.custom.fbt_products.value %}
  {% if fbt_list != blank %}
    {% for item in fbt_list %}
      <input type="hidden" class="fbt-handle-input" value="{{ item.handle }}">
    {% endfor %}
  {% endif %}
</div>

<div id="fbt-container" class="fbt-wrapper" style="display:none;">
  <h3 class="fbt-header">Frequently Bought Together</h3>
  <div id="fbt-loading" style="text-align:center; padding: 20px; color: #666;">Loading offers...</div>
  <div id="fbt-content" style="display:none;">
    <div class="fbt-images-row" id="fbt-images-container"></div>
    <div class="fbt-summary">
      <div class="fbt-price-box">
        Total price: 
        <span id="fbt-total-original" class="fbt-old-price"></span>
        <span id="fbt-total-final" class="fbt-new-price">...</span>
      </div>
      <button type="button" id="fbt-btn-add" class="fbt-main-btn">ADD SELECTED TO CART</button>
    </div>
    <div class="fbt-list" id="fbt-list-container"></div>
  </div>
</div>

<style>
  /* GIỮ NGUYÊN CSS NHƯ CŨ */
  .fbt-wrapper { margin-top: 30px; border-top: 1px solid #eee; padding-top: 20px; font-family: inherit; }
  .fbt-header { font-size: 20px; font-weight: 600; margin-bottom: 20px; }
  .fbt-images-row { display: flex; align-items: center; gap: 10px; margin-bottom: 20px; flex-wrap: wrap;}
  .fbt-img-wrap { position: relative; width: 80px; height: 80px; }
  .fbt-img-wrap img { width: 100%; height: 100%; object-fit: cover; border-radius: 8px; border: 1px solid #ddd; }
  .fbt-plus { position: absolute; right: -18px; top: 35%; font-size: 20px; color: #999; }
  .fbt-img-wrap:last-child .fbt-plus { display: none; }
  .fbt-summary { margin-bottom: 20px; background: #f8f8f8; padding: 15px; border-radius: 8px; }
  .fbt-price-box { font-size: 16px; margin-bottom: 10px; }
  .fbt-old-price { text-decoration: line-through; color: #999; margin-right: 8px; font-size: 14px;}
  .fbt-new-price { font-weight: bold; font-size: 18px; color: #000; }
  .fbt-main-btn { width: 100%; background: #000; color: #fff; padding: 12px; font-weight: bold; border: none; cursor: pointer; text-transform: uppercase; transition: 0.3s; }
  .fbt-main-btn:hover { background: #333; }
  .fbt-list { display: flex; flex-direction: column; gap: 15px; }
  .fbt-row { display: flex; gap: 12px; align-items: flex-start; }
  .fbt-checkbox { width: 18px; height: 18px; margin-top: 4px; cursor: pointer; accent-color: #000; flex-shrink: 0; }
  .fbt-info { width: 100%; }
  .fbt-title { font-size: 14px; font-weight: 500; color: #333; text-decoration: none; display: block; margin-bottom: 4px; }
  .fbt-select { padding: 6px; border: 1px solid #ccc; border-radius: 4px; font-size: 13px; max-width: 100%; margin-bottom: 4px; cursor: pointer; display: block; width: 100%;}
  
  /* CSS BỘ NÚT TĂNG GIẢM */
  .fbt-controls { display: flex; align-items: center; margin-top: 8px; }
  .fbt-qty-wrapper { display: flex; align-items: center; border: 1px solid #ddd; border-radius: 4px; overflow: hidden; margin-right: 15px; }
  .fbt-qty-btn { width: 30px; height: 30px; background: #f5f5f5; border: none; font-size: 16px; font-weight: bold; cursor: pointer; display: flex; align-items: center; justify-content: center; transition: 0.2s; }
  .fbt-qty-btn:hover { background: #e0e0e0; }
  .fbt-qty-input { width: 40px; height: 30px; border: none; border-left: 1px solid #ddd; border-right: 1px solid #ddd; text-align: center; font-size: 14px; -moz-appearance: textfield; }
  .fbt-qty-input::-webkit-outer-spin-button, .fbt-qty-input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
  .fbt-item-price { font-size: 14px; color: #555; font-weight: 500;}

  .fbt-controls {
      display: flex;
      align-items: center;
      margin-top: 8px;
  }
  
  .fbt-qty-wrapper {
      display: flex;
      align-items: center;
      /* Xóa border bao quanh & xóa bo góc */
      border: 1px solid #e5e5e5; 
      border-radius: 0; /* Vuông vức, không radio */
      overflow: hidden;
      margin-right: 15px;
      height: 32px; /* Chiều cao cố định cho đẹp */
  }

  .fbt-qty-btn {
      width: 32px;
      height: 100%;
      background: #fff; /* Nền trắng sạch */
      border: none;
      font-size: 18px;
      line-height: 1;
      font-weight: 400;
      color: #333;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.2s;
  }
  
  .fbt-qty-btn:hover {
      background: #f5f5f5; /* Hover hơi xám nhẹ */
      color: #000;
  }

  .fbt-qty-input {
      width: 40px;
      height: 100%;
      border: none; /* Xóa border input ở giữa */
      text-align: center;
      font-size: 14px;
      font-weight: 500;
      color: #000;
      -moz-appearance: textfield;
      background: transparent;
      outline: none; /* Xóa viền xanh khi bấm vào */
  }
  
  /* Xóa mũi tên mặc định của input number */
  .fbt-qty-input::-webkit-outer-spin-button,
  .fbt-qty-input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
</style>{% assign f_product_card=nil %}</div></div></div><style>.x-main .x-dk72myi0 .des-for-neck-cord {
  display:none !important
}</style><div id="x-dk72myi0" class="x-layout-auto x-stack x-dk72myi0 x-element des-for-neck-cord"><script src="{{ 'foxify-collapsible.gen2.js' | asset_url }}" defer=""></script><div id="x-xqxq3l9d" class="x-layout-auto x-collapsible x-xqxq3l9d x-element x-collapsible-tab--icon-angle"><style>.x-main .x-y3sspa9z .x-collapsible__button {
  justify-content:left;padding:5px 20px 5px 0;font-size:18px;font-weight:450
}</style><div id="x-y3sspa9z" class="x-collapsible-content x-y3sspa9z x-element"><x-collapsible-tab class="x-collapsible__item" data-hide-if-empty="true" data-one-open="true"><div class="x-collapsible__button" data-trigger="true"><span>
{{ 'sections.foxify-1765177980A3dGc.x-y3sspa9z-title_html' | t }}</span><span class="x-collapsible__button-icon"><svg width="2" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1.333v9.334" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg><svg width="2" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1.333v9.334" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></span></div><div class="x-collapsible__content-wrapper" data-content="true"><div class="x-collapsible__content x-layout-auto">{% assign product_x-0f6jgtcr = product %}{% assign collection_x-0f6jgtcr = collection %}<h4 id="x-0f6jgtcr" class="x-layout-none x-text x-0f6jgtcr x-element x-rte">{% assign x_0f6jgtcr_text = product_x-0f6jgtcr.metafields.custom['short_introduction'] | metafield_text %}
{{ 'sections.foxify-1765177980A3dGc.x-0f6jgtcr-text_html' | t: x_0f6jgtcr_text: x_0f6jgtcr_text }}</h4></div></div></x-collapsible-tab></div><style>.x-main .x-xm02y7u6 .x-collapsible__button {
  justify-content:left;padding:5px 20px 5px 0;font-size:18px;font-weight:450
}</style><div id="x-xm02y7u6" class="x-collapsible-content x-xm02y7u6 x-element"><x-collapsible-tab class="x-collapsible__item" data-hide-if-empty="true" data-one-open="true"><div class="x-collapsible__button" data-trigger="true"><span>
{{ 'sections.foxify-1765177980A3dGc.x-xm02y7u6-title_html' | t }}</span><span class="x-collapsible__button-icon"><svg width="2" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1.333v9.334" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg><svg width="2" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1.333v9.334" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></span></div><div class="x-collapsible__content-wrapper" data-content="true"><div class="x-collapsible__content x-layout-auto">{% assign product_x-igq2blzy = product %}{% assign collection_x-igq2blzy = collection %}<div id="x-igq2blzy" class="x-layout-none x-text x-igq2blzy x-element x-rte">{% assign x_igq2blzy_text = product_x-igq2blzy.metafields.custom['specs'] | metafield_tag %}
{{ 'sections.foxify-1765177980A3dGc.x-igq2blzy-text_html' | t: x_igq2blzy_text: x_igq2blzy_text }}</div></div></div></x-collapsible-tab></div></div><script src="{{ 'foxify-collapsible.gen2.js' | asset_url }}" defer=""></script><div id="x-1z76vv0q" class="x-layout-auto x-collapsible x-1z76vv0q x-element x-collapsible-tab--icon-angle"><div id="x-79fzasfm" class="x-collapsible-content x-79fzasfm x-element"><x-collapsible-tab class="x-collapsible__item" data-hide-if-empty="true" open="true" data-one-open="true"><div class="x-collapsible__button" data-trigger="true"><span>
{{ 'sections.foxify-1765177980A3dGc.x-79fzasfm-title_html' | t }}</span><span class="x-collapsible__button-icon"><svg width="2" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1.333v9.334" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg><svg width="2" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1.333v9.334" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></span></div><div class="x-collapsible__content-wrapper" data-content="true"><div class="x-collapsible__content x-layout-auto">{% assign product_x-0xiy0hlo = product %}{% assign collection_x-0xiy0hlo = collection %}<p id="x-0xiy0hlo" class="x-layout-none x-text x-0xiy0hlo x-element x-rte">{% assign x_0xiy0hlo_text = product_x-0xiy0hlo.metafields.custom['short_introduction'] | metafield_text %}
{{ 'sections.foxify-1765177980A3dGc.x-0xiy0hlo-text_html' | t: x_0xiy0hlo_text: x_0xiy0hlo_text }}</p></div></div></x-collapsible-tab></div><div id="x-e4gjse1f" class="x-collapsible-content x-e4gjse1f x-element"><x-collapsible-tab class="x-collapsible__item" data-hide-if-empty="true" data-one-open="true"><div class="x-collapsible__button" data-trigger="true"><span>
{{ 'sections.foxify-1765177980A3dGc.x-e4gjse1f-title_html' | t }}</span><span class="x-collapsible__button-icon"><svg width="2" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1.333v9.334" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg><svg width="2" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1.333v9.334" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></span></div><div class="x-collapsible__content-wrapper" data-content="true"><div class="x-collapsible__content x-layout-auto">{% assign product_x-qi0n17uh = product %}{% assign collection_x-qi0n17uh = collection %}<p id="x-qi0n17uh" class="x-layout-none x-text x-qi0n17uh x-element x-rte">{% assign x_qi0n17uh_text = product_x-qi0n17uh.metafields.custom['specs'] | metafield_tag %}
{{ 'sections.foxify-1765177980A3dGc.x-qi0n17uh-text_html' | t: x_qi0n17uh_text: x_qi0n17uh_text }}</p></div></div></x-collapsible-tab></div></div></div></div></div>{% endform %}</div>{% endif %}</div></div><div id="x-udc117zz" class="x-section x-udc117zz"><div class="x-container-full x-layout-grid"><style>.x-main .x-16ab6b07 #x-16ab6b07 {
  justify-self:center !important
}</style><div id="x-16ab6b07" class="x-layout-auto x-stack x-16ab6b07 x-element">{% assign product_x-29zudf1g = product %}{% assign collection_x-29zudf1g = collection %}<h2 id="x-29zudf1g" class="x-layout-none x-text x-29zudf1g x-element x-rte">
{{ 'sections.foxify-1765177980A3dGc.x-29zudf1g-text_html' | t }}</h2><script src="{{ 'foxify-collapsible.gen2.js' | asset_url }}" defer=""></script><div id="x-piogditf" class="x-layout-auto x-collapsible x-piogditf x-element x-collapsible-tab--icon-angle"><style>.x-main .x-tiduuvog .x-collapsible__button {
  justify-content:center;padding:5px 20px 5px 0;font-size:15px;font-weight:300
}</style><div id="x-tiduuvog" class="x-collapsible-content x-tiduuvog x-element"><x-collapsible-tab class="x-collapsible__item" data-hide-if-empty="true" data-one-open="true"><div class="x-collapsible__button" data-trigger="true"><span>
{{ 'sections.foxify-1765177980A3dGc.x-tiduuvog-title_html' | t }}</span><span class="x-collapsible__button-icon"><svg width="2" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1.333v9.334" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg><svg width="2" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1.333v9.334" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></span></div><div class="x-collapsible__content-wrapper" data-content="true"><div class="x-collapsible__content x-layout-auto">{% assign product_x-ewhmyqln = product %}{% assign collection_x-ewhmyqln = collection %}<h4 id="x-ewhmyqln" class="x-layout-none x-text x-ewhmyqln x-element x-rte"><p><span style="color: rgb(0, 0, 0);"><strong>Shipping Policy</strong></span></p><p><span contenteditable="false"><span style="color: rgb(0, 0, 0);">- Order Processing: 2–5 business days, as each piece is handcrafted and energy-cleansed before shipping.</span></span></p><p><span contenteditable="false"><span style="color: rgb(0, 0, 0);">- Transit Time: approximately 15–20 business days after dispatch.</span></span></p><p><span contenteditable="false"><span style="color: rgb(0, 0, 0);">- Total estimated delivery time: 20–25 business days (processing + transit). You'll receive a shipment notification email with your tracking number once your order is shipped.</span></span></p><p></p><p><span style="color: rgb(208, 2, 27);"><strong>Note</strong></span><span contenteditable="false"><span style="color: rgb(0, 0, 0);">: These are estimated delivery times only. The duration of transit varies based on your location. Delays may occur due to customs clearance, holidays, or carrier schedules.</span></span></p><p></p><p><span style="color: rgb(0, 0, 0);"><strong>Shipping Charge: Free Standard Shipping worldwide on orders $99+.</strong></span></p><p><span style="color: rgb(0, 0, 0);"><strong>- </strong>Orders under $99: shipping is calculated by destination, weight, and method.</span></p><p></p><p><span style="color: rgb(0, 0, 0);"><strong>Address Accuracy</strong></span></p><p><span style="color: rgb(0, 0, 0);">- The customer must provide a complete and accurate shipping address and a physical street address;</span></p><p><span style="color: rgb(0, 0, 0);">- Please note that we do not ship to P.O. Boxes.</span></p><p><span style="color: rgb(0, 0, 0);">- Changes such as address, item/variant and cancellations are limited to 2 hours after checkout. After that, the parcel is handed to the carrier, all changes are not available</span></p></h4></div></div></x-collapsible-tab></div><style>.x-main .x-lyyqskz8 .x-collapsible__button {
  justify-content:center;padding:5px 20px 5px 0;font-size:15px;font-weight:300
}</style><div id="x-lyyqskz8" class="x-collapsible-content x-lyyqskz8 x-element"><x-collapsible-tab class="x-collapsible__item" data-hide-if-empty="true" data-one-open="true"><div class="x-collapsible__button" data-trigger="true"><span>
{{ 'sections.foxify-1765177980A3dGc.x-lyyqskz8-title_html' | t }}</span><span class="x-collapsible__button-icon"><svg width="2" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1.333v9.334" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg><svg width="2" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1.333v9.334" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></span></div><div class="x-collapsible__content-wrapper" data-content="true"><div class="x-collapsible__content x-layout-auto">{% assign product_x-esh92vur = product %}{% assign collection_x-esh92vur = collection %}<div id="x-esh92vur" class="x-layout-none x-text x-esh92vur x-element x-rte"><p><span style="color: rgb(0, 0, 0);"><strong>Refund and exchange</strong></span></p><p><span contenteditable="false"><span style="color: rgb(0, 0, 0);">- If an order is returned as “Return to Sender” (incorrect, incomplete address-provided addresses or failed delivery), the customer is responsible for reshipping fees.</span></span></p><p><span contenteditable="false"><span style="color: rgb(0, 0, 0);">- We are not responsible for packages marked “Delivered” by the carrier. Please ensure someone is available to receive your package.</span></span><span style="color: rgb(0, 0, 0);"> </span></p><p></p><p><span contenteditable="false"><span style="color: rgb(0, 0, 0);">Each of our gemstone jewelry pieces is handcrafted and energy-cleansed before shipping to ensure you receive it in its most positive and powerful state — ready to attract luck, harmony, and prosperity.</span></span></p><p></p><p><span contenteditable="false"><span style="color: rgb(0, 0, 0);"><strong>For any questions or concerns regarding your shipment, please contact our support team at:</strong></span></span><span style="color: rgb(0, 0, 0);"><br></span><span contenteditable="false"><span style="color: rgb(0, 0, 0);">Taichi Gemstone Support Team</span></span><span style="color: rgb(0, 0, 0);"><br></span><span contenteditable="false"><span style="color: rgb(0, 0, 0);">Website:</span></span><a target="_blank" rel="noopener" href="http://www.taichigemstone.com"><span style="color: rgb(0, 0, 0);">www.taichigemstone.com</span></a><span style="color: rgb(0, 0, 0);"><br></span><span contenteditable="false"><span style="color: rgb(0, 0, 0);">Email:</span></span><a target="_blank" rel="noopener" href="mailto:support@taichigemstone.com"><span style="color: rgb(0, 0, 0);">support@taichigemstone.com</span></a></p></div></div></div></x-collapsible-tab></div></div>{% assign product_x-3ao471p6 = product %}{% assign collection_x-3ao471p6 = collection %}<div id="x-3ao471p6" class="x-layout-none x-text x-3ao471p6 x-element x-rte">{% assign x_3ao471p6_text = product_x-3ao471p6.metafields.custom['short_introduction'] | metafield_text %}
{% assign x_3ao471p6_text_1 = product_x-3ao471p6.description  %}
{% assign x_3ao471p6_text_2 = product_x-3ao471p6.metafields.custom['note'] | metafield_tag %}
{{ 'sections.foxify-1765177980A3dGc.x-3ao471p6-text_html' | t: x_3ao471p6_text: x_3ao471p6_text,x_3ao471p6_text_1: x_3ao471p6_text_1,x_3ao471p6_text_2: x_3ao471p6_text_2 }}</div></div></div></div><div id="x-9mxrhad2" class="x-section x-9mxrhad2"><div class="x-container-full x-layout-grid"><div id="x-9ojmewch" class="x-layout-auto x-stack x-9ojmewch x-element">{% assign product_x-qhnh10hi = product %}{% assign collection_x-qhnh10hi = collection %}<h2 id="x-qhnh10hi" class="x-layout-none x-text x-qhnh10hi x-element x-gs-heading-2 x-rte">
{{ 'sections.foxify-1765177980A3dGc.x-qhnh10hi-text_html' | t }}</h2>{% assign collection_x-7sxbulmq = section.settings['collection_x-7sxbulmq'] %}
        {% unless section.settings['collection_x-7sxbulmq'] %}
          {% assign collection_x-7sxbulmq = collections['frontpage'] %}
        {% endunless %}
      {% liquid
           assign product_count = 24
           if 24 > collection_x-7sxbulmq.products.size 
             assign product_count = collection_x-7sxbulmq.products.size 
           endif
          %}<div id="x-7sxbulmq" class="x-layout-none x-product-list x-7sxbulmq x-element x-element--center-mode"><x-slider-component id="X-Slider-x-7sxbulmq" class="x-swiper x-swiper--equal-height" data-swiper-options="{&quot;navigation&quot;:true,&quot;pagination&quot;:true,&quot;loop&quot;:true,&quot;paginationType&quot;:&quot;fraction&quot;,&quot;slidesPerView&quot;:3,&quot;spaceBetween&quot;:0,&quot;slidesPerGroup&quot;:1,&quot;breakpoints&quot;:{&quot;1024&quot;:{&quot;slidesPerView&quot;:5,&quot;spaceBetween&quot;:16}},&quot;centeredSlides&quot;:true,&quot;autoplay&quot;:{&quot;delay&quot;:4000,&quot;disableOnInteraction&quot;:false,&quot;pauseOnMouseEnter&quot;:false}}" data-pagination-type="fraction" data-destroy-on-mobile="true" data-overflow-slider="false" data-total-slides="{{product_count}}" style="--x-column-gap: 16px; --x-md-column-gap: 24px; --x-sm-column-gap: 16px; --x-row-gap: 30px; --x-md-row-gap: 24px; --x-sm-row-gap: 16px; --swiper-desktop-column: 5;"><div class="x-swiper-container"><div class="x-swiper-wrapper x-mobile-swiper">{% if collection_x-7sxbulmq != blank %}{% for product_x-7sxbulmq in collection_x-7sxbulmq.products limit: 24 %}<div class="x-column x-swiper-slide">{% capture content_x-gy4wg44a %}{% endcapture %}{%render 'foxify-product-card', product: product_x-7sxbulmq, card_style: '1', image_ratio: '3/4', text_align: 'center', ELEMENT_KEY: 'x', PREFIX_CLASS: 'x-',  CUSTOM_CLASS: 'x-product-card x-gy4wg44a x-element', content: content_x-gy4wg44a %}</div> {% endfor %} {% endif %}</div></div><div class="x-swiper-controls x-swiper-pagination--fraction x-swiper-pagination--center x-swiper-controls--static x-swiper-controls--nav-floating" data-pagination-type="fraction"><div class="x-swiper-controls__inner"><div class="x-swiper-button x-swiper-button-prev"><svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.78033 0.46967C6.07322 0.762563 6.07322 1.23744 5.78033 1.53033L2.31066 5L5.78033 8.46967C6.07322 8.76256 6.07322 9.23744 5.78033 9.53033C5.48744 9.82322 5.01256 9.82322 4.71967 9.53033L0.719669 5.53033C0.426776 5.23744 0.426777 4.76256 0.719669 4.46967L4.71967 0.46967C5.01256 0.176777 5.48744 0.176777 5.78033 0.46967Z" fill="currentColor"></path></svg></div><div class="x-swiper-pagination"></div><div class="x-swiper-button x-swiper-button-next"><svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.71967 9.53033C0.426777 9.23744 0.426777 8.76256 0.71967 8.46967L4.18934 5L0.71967 1.53033C0.426777 1.23744 0.426777 0.762563 0.71967 0.46967C1.01256 0.176777 1.48744 0.176777 1.78033 0.46967L5.78033 4.46967C6.07322 4.76256 6.07322 5.23744 5.78033 5.53033L1.78033 9.53033C1.48744 9.82322 1.01256 9.82322 0.71967 9.53033Z" fill="currentColor"></path></svg></div></div></div></x-slider-component></div></div></div></div><div id="x-976w5sj0" class="x-section x-976w5sj0"><div class="x-container x-layout-grid"><div id="x-001ugfgf" class="x-layout-auto x-stack x-001ugfgf x-element">{% assign product_x-0x2myigs = product %}{% assign collection_x-0x2myigs = collection %}<h2 id="x-0x2myigs" class="x-layout-none x-text x-0x2myigs x-element x-animation-entrance x-animation-entrance:xFadeInUp x-rte">
{{ 'sections.foxify-1765177980A3dGc.x-0x2myigs-text_html' | t }}</h2>{% assign recently_viewed = shop.metafields.foxify.recently-viewed-products.value %}{% if recently_viewed %}<script src="{{ 'foxify-recently-viewed.gen2.js' | asset_url }}" defer=""></script>{% if shop.metafields.foxify.recently-viewed-products.value %}<div id="x-u2kwefga" class="x-layout-none x-extension:recently-viewed-section x-u2kwefga x-element" style="--x-column-gap: 32px; --x-md-column-gap: 24px; --x-sm-column-gap: 16px; --x-row-gap: 32px; --x-md-row-gap: 24px; --x-sm-row-gap: 16px;"><x-recently-products class="x-product-recently-viewed x-block" data-max-limit="4" hidden="true"><x-slider-component class="x-swiper x-swiper--equal-height" data-swiper-options="{&quot;navigation&quot;:true,&quot;pagination&quot;:true,&quot;loop&quot;:true,&quot;paginationType&quot;:&quot;fraction&quot;,&quot;slidesPerView&quot;:4,&quot;spaceBetween&quot;:0,&quot;slidesPerGroup&quot;:1,&quot;breakpoints&quot;:{&quot;1024&quot;:{&quot;slidesPerView&quot;:4,&quot;spaceBetween&quot;:32}},&quot;autoplay&quot;:{&quot;delay&quot;:4000,&quot;disableOnInteraction&quot;:false,&quot;pauseOnMouseEnter&quot;:false}}" data-pagination-type="fraction" data-destroy-on-mobile="true" data-overflow-slider="true" data-total-slides="4" style="--swiper-desktop-column: 4;"><div class="x-swiper-container"><div class="x-swiper-wrapper x-mobile-swiper"></div></div><div class="x-swiper-controls x-swiper-pagination--fraction x-swiper-pagination--center x-swiper-controls--static x-swiper-controls--nav-inline" data-pagination-type="fraction"><div class="x-swiper-controls__inner"><div class="x-swiper-button x-swiper-button-prev"><svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.1875 9H2.8125" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M7.875 3.9375L2.8125 9L7.875 14.0625" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></div><div class="x-swiper-pagination"></div><div class="x-swiper-button x-swiper-button-next"><svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.8125 9H15.1875" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M10.125 3.9375L15.1875 9L10.125 14.0625" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></div></div></div></x-slider-component></x-recently-products></div>{% endif %}{% endif %}<script src="{{ 'foxify-sticky-atc.gen2.js' | asset_url }}" defer=""></script>{% if shop.metafields.foxify.sticky-atc.value %}<div id="x-dx51y20i" class="x-extension:sticky-atc-block x-dx51y20i x-element x-sticky-atc">{% liquid 
          assign selected_variant = product.selected_or_first_available_variant
          assign selected_variant_available = selected_variant.available          
        %}<div class="x-container"><x-sticky-atc-bar class="x-sticky-atc__inner x-flex x-items-center x-justify-center sm:x-justify-between" data-product-id="{{ product.id }}" data-product-handle="{{ product.handle }}" data-selected-variant-available="{{ selected_variant_available }}"><template><div><div class="x-sticky-atc__product x-hidden sm:x-flex sm:x-items-center"><div class="x-sticky-atc__product-image"><x-image class="x-image" style="--x-aspect-ratio: 1;">{{ product.featured_image | image_url: width: 100 | image_tag:
                    loading: lazy,
                    sizes: '(min-width: 1200px) 715px, (min-width: 990px) calc(65.0vw - 10rem), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw / 1 - 4rem)',
                    widths: '246, 493, 600, 713, 823, 990, 1100, 1206, 1346, 1426, 1646, 1946',
                    alt: media.preview_image.alt | escape
                  }}</x-image></div><div class="x-sticky-atc__product-info"><h3 class="x-sticky-atc__product-title x-gs-heading-6">{{ product.title }}</h3>{% render 'foxify-price', product: product, show_sale_badge: false, sale_badge_type: false, show_soldout_badge: false, ELEMENT_KEY: 'x', PREFIX_CLASS: 'x-' %}</div></div><x-product-form class="x-block" data-notification-type="toast">{%- form 'product', product, id: 'product-form-x-dx51y20i', class: 'x-sticky-atc-form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}<input type="hidden" name="product_id" value="{{ product.id}}"><div class="x-sticky-atc-form__wrapper">{% if product.has_only_default_variant %}<input type="hidden" name="id" value="{{ selected_variant.id }}">{% else %}<select name="id" class="x-sticky-atc__variant-select x-form-control">{% for variant in product.variants %}{% if variant.id == selected_variant.id %}<option value="{{ variant.id }}" selected="true">{{ variant.title }}</option>{% else %}<option value="{{ variant.id }}">{{ variant.title }}</option>{% endif %}{% endfor %}</select>{% endif %}<x-quantity-input class="x-quantity" data-product-id="{{ product.id }}"><button class="x-quantity__button" name="minus" type="button"><svg width="10" height="2" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M.917 1h8.166" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></button><input class="x-quantity__input x-form-control" type="number" name="quantity" id="Quantity-x-dx51y20i-{{ product.id }}" min="1" value="1"><button class="x-quantity__button" name="plus" type="button"><svg width="14" height="14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 2.917v8.166M2.917 7h8.166" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></button></x-quantity-input><button name="add" class="x-gs-primary-button x-button"><span class="x-btn__label">{% if selected_variant_available == false %}{{ translation.products.product.sold_out }}{% else %}{{ translation.products.product.add_to_cart }}{% endif %}</span><svg width="16" height="16" aria-hidden="true" focusable="false" role="presentation" class="x-spinner-icon x-svg-icon" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle></svg></button></div>{%- endform -%}</x-product-form></div></template></x-sticky-atc-bar></div></div>{% endif %}</div></div></div>
<script data-foxify-custom-code-page="js" defer>{{ foxifyCustomJs }}</script>
{% liquid
            assign theme_settings = shop.metafields.foxify.theme_settings.value
            assign customCodeBody = theme_settings.customCodeBody
            echo customCodeBody
          %}

</div>
{% schema %}
  {
  "name": "Foxify main content",
  "class": "foxify-main f-app",
  "settings": [
    {
      "type": "header",
      "content": "Customize main content",
      "info": "Go to [Foxify app](https://admin.shopify.com/store/bbvy2y-tq/apps/foxify-builder/studio?id=1765177980A3dGc&type=product) to edit this section."
    },
    {
      "id": "product_x-ueqdbuyk",
      "type": "product",
      "label": "Product details"
    },
    {
      "id": "collection_x-7sxbulmq",
      "type": "collection",
      "label": "Product list"
    }
  ],
  "locales": {
    "en": {
      "x-l9ckcwi5-text_html": "Quantity:",
      "x-gy7napgl-button_label_html": "ADD TO CART",
      "x-0x2myigs-text_html": "Recent View",
      "x-3ao471p6-text_html": "{{ x_3ao471p6_text }}<br><br>{{ x_3ao471p6_text_1 }}<br><br><span style=\"color: rgb(208, 2, 27);\"><strong>Usage Note:</strong></span> <br>{{ x_3ao471p6_text_2 }}",
      "x-29zudf1g-text_html": "Details",
      "x-y3sspa9z-title_html": "Description",
      "x-xm02y7u6-title_html": "Item detail",
      "x-lh0qswkd-button_label_html": " Size Guide",
      "x-qhnh10hi-text_html": "<strong>You may also like</strong>",
      "x-79fzasfm-title_html": "Description",
      "x-e4gjse1f-title_html": "Item detail",
      "x-0xiy0hlo-text_html": "{{ x_0xiy0hlo_text }}",
      "x-qi0n17uh-text_html": "<span style=\"color: rgb(0, 0, 0);\">{{ x_qi0n17uh_text }}</span>",
      "x-tiduuvog-title_html": "SHIPPING POLICY",
      "x-lyyqskz8-title_html": "REFUND POLICY",
      "x-0f6jgtcr-text_html": "<span style=\"color: rgb(0, 0, 0);\">{{ x_0f6jgtcr_text }}</span>",
      "x-igq2blzy-text_html": "{{ x_igq2blzy_text }}"
    }
  }
}
{% endschema %}
  